.calculator {
  width: 500px;
  background: #eee;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.23);
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.23);
}
