@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
  font-size: 16px;
  font-family: 'Lobster', cursive;
  --accent-color: rgba(117, 19, 93, 0.829);
  --primary-color: grey;
  --secondary-color: #6c2e50;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: linear-gradient(to bottom, rgba(81, 101, 128, 0.726), rgba(117, 19, 93, 0.829)), url('./images/images.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}